* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 9px;
}
:root {
  --grey: rgb(245, 245, 247);
  --white: rgb(255, 255, 255);
  --black: rgb(30, 30, 30);
  --infoWidth: 20dvw;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -9999;
  background: linear-gradient(
    90deg,
    var(--white) 10%,
    var(--grey) 10%,
    var(--grey) 90%,
    var(--white) 90%
  );
}

#add-click {
  position: fixed;
  top: 1dvw;
  right: 1dvw;
  width: 10dvw;
  height: 10dvw;

  background: var(--black);
  z-index: 9999;
  opacity: 0;
  transition: 0.1s ease;
  #add-inn {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
  }
  #icon-add {
    width: 3dvw;
    height: 3dvw;
    background: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text-add {
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    color: var(--black);
    &:active,
    &:focus {
      outline: none;
    }
  }
  #close-add {
    right: 0;
    top: 0;
    position: absolute;
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 1rem;
  }
}

header {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  display: flex;
  flex-direction: column;
  width: 60dvw;
  height: 10dvw;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  border-radius: 0dvw 0dvw 2dvw 2dvw;
  img {
    top: 50%;
    transform: translateY(-20%);
    z-index: -1;
    position: absolute;
    display: flex;
    width: 100%;
    filter: saturate(0%) contrast(120%);
  }

  h1 {
    color: var(--white);
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 0;
    padding: 3rem;
    z-index: 1;
    position: absolute;
    width: 100%;
    text-shadow: 0.1rem 0.1rem 0.1rem #000;

    transform: translateY(-50%);
    top: 50%;

    background-color: rgba(0, 0, 0, 0.5);

    @media (max-width: 600px) {
      font-size: 2rem;
    }
  }
}

.change-theme {
  margin: 1dvw auto;
  display: flex;
  width: 60dvw;
  justify-content: start;
  gap: 1dvw;
  align-items: center;
  button {
    width: 12dvw;
    height: 2dvw;
    border-radius: 2dvw;
    font-size: 1.1dvw;
    font-weight: 600;
    /* background-color: var(--black);
    color: var(--white); */
    border: none;
    cursor: pointer;
    transition: 0.1s ease-in;
    /* &:last-child {
      background-color: var(--white);
      color: var(--black);
    } */
  }
}

.active-btn {
  background: var(--black);
  color: var(--white);
}

.passive-btn {
  background: var(--white);
  color: var(--black);
}

.content-tab {
  margin: 0 auto;
  margin-top: 2dvw;
  display: flex;
  flex-direction: row;
  width: 60dvw;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 2dvw;
  transition: 0.3s ease-out;
}

.hidden {
  display: none;
}

.fadeout {
  opacity: 0;
}

.show {
  display: flex;
}

.fadein {
  opacity: 1;
}

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2dvw;
  width: 100%;
}

.line {
  width: 75%;
  height: 0.2dvw;
  background-color: var(--white);
  border-radius: 2dvw;
  margin-bottom: 2dvw;
}

.description {
  display: flex;
  flex-direction: column;
  width: 30dvw;
  height: 30dvw;
  background-color: var(--white);
  border-radius: 0.5dvw;
  font-size: 1dvw;
  padding: 1.5dvw;
  gap: 2dvw;
  h2 {
    font-size: 1.2dvw;
  }
  p {
    font-size: 0.9dvw;
    line-height: 1.4;
    text-align: justify;
  }
}

.information {
  display: flex;
  width: calc(var(--infoWidth) + 2dvw);
  height: 30dvw;
  margin: 0 1dvw;
  outline: 0.15dvw solid var(--white);
  border-radius: 0.5dvw;
  position: relative;
  padding: 1dvw;
}

.inner {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.contents {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 0;
  transition: 0.5s ease-in-out;
}

.photo {
  display: flex;
  height: 90%;
  width: 90%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5dvw;

  img {
    height: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: var(--infoWidth);
  align-items: center;
  justify-content: center;
  gap: 1dvw;

  p {
    text-align: justify;
    height: 80%;
    margin: 0;
    font-size: 1dvw;
    color: var(--black);
  }

  ol {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    text-align: justify;
    color: var(--black);
    gap: 0.75dvw;
    padding: 1dvw;
    li {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.4dvw;
      p,
      h3 {
        font-size: 0.8dvw;
      }
      p {
        width: 60%;
        text-align: end;
        font-style: italic;
      }
      h3 {
        width: 40%;
      }
    }
  }
}

.share {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 2dvw;
  align-items: center;
  justify-content: center;
  gap: 1dvw;
  font-size: 0.8dvw;
}

.share a img {
  height: 2dvw;
}

.changer {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2dvw;
  height: 2dvw;
  border-radius: 100%;
  /* #e2cbaa */
  background-color: var(--grey);
  color: var(--black);
  font-weight: 400;
  cursor: pointer;
  border: 0.15dvw solid var(--black);

  transition: 0.5s ease-in-out;

  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateX(-50%) translateY(-50%);

  z-index: 99999;

  &:active {
    .cursor {
      scale: 80%;
      transition: 0.3s ease-out;
    }
  }
}

.cursor {
  font-size: 1.5dvw;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  transform: rotateZ(0deg);
}
